@page "/pricing/systemDashboard"
<PageTitle>System Dashboard</PageTitle>
<PricingNavigationControl />

<h5>Statistics such as scraper failure rates</h5>

<h5>Unsupported Domains</h5>
<p>URLs have been entered that aren't supported by any current scrapers</p>
<ul>
    <li>Amazon.com</li>
    <li>Bestbuy.com</li>
    <li>Walmart.com</li>
    <li>Google.de</li>
</ul>


@code {
    // 
}