.myWidth {
    width: 80px;
}

.active {
    background: green;
}

.inactive {
    background: grey;
}

.demo-section {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.edit-radio-fieldset {
    margin-top: 0;
}

.edit-checkedList-fieldset {
    margin-top: 0;
}

.edit-control-wrapper {
    /* Wraper/group around each edit control (label, description, input and validation messages */
    display: flex;
    flex-direction: column;
    gap: 0;
}
