<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base target="_blank" href="/" />
    <link rel="stylesheet" target="_blank" href="bootstrap.min.css" />

    <link rel="stylesheet" target="_blank" href="app.css?v=8/5/24" />
    <link rel="stylesheet" target="_blank" href="edit-controls.css?v=8/5/24" />
	@* <link rel="stylesheet" target="_blank" href="_content/WssBlazorControls/editControls.css" /> *@
    <link rel="icon" type="image/png" target="_blank" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/WssBlazorControls/editControls.js"></script>
</body>

</html>
