@using Controls.Helpers
@using Microsoft.AspNetCore.Components.Forms
@typeparam TEnum
@inherits InputBase<TEnum>

@if (ShouldShowComponent)
{
    <div class="form-group @OuterClass">

        <fieldset>
            <legend>
                <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label/>
            </legend>

            @if (ShowEditor)
            {
                <InputRadioGroup @bind-Value=@CurrentValue id=@($"rbg_{_id}") data-test-id=@($"rbg_{_id}") disabled=@IsDisabled class=@CssClass>
                    @foreach (var option in GetOptions())
                    {
                        @if (!HasHorizontalRadioButtons)
                        {
                            <br/>
                        }

                        <label>
                            <InputRadio Value=@option id=@($"rb_{_id}_{option}") data-test-id=@($"rb_{_id}_{option}")/>
                            @((MarkupString)option.GetName())
                        </label>
                    }

                </InputRadioGroup>
            }
            else
            {
                <div class="form-text">@Value?.GetName()</div>
            }

            <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes />
            @if (FormOptions != null && FormOptions.ShowBoundValues)
            {
                <div class="bound-value">@CurrentValueAsString</div>
            }
        </fieldset>
    </div>  
}
