@if (!IsHidden)
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id Label=@Label Description=@Description/>

        <div id=@_id
             data-test-id=@_id
             class="edit-readonly-value"
             role="textbox"
             aria-readonly="true"
             aria-labelledby=@($"lbl-{_id}")
             aria-describedby=@($"desc-{_id} error-msg-{_id} tooltip-{_id}")
             tabindex="0">
            
            @Text
        </div>
        
  </div>
}