@using Microsoft.AspNetCore.Components.Forms
@inherits InputCheckbox

@if (ShouldShowComponent)
{
    <div class="form-group @OuterClass">

        <div class="form-check">

            @if (ShowEditor)
            {
                <input type="checkbox" id=@($"cbx-{_id}") data-test-id=@($"cbx-{_id}") @bind-value=@CurrentValue @bind-value:event="oninput" checked=@CurrentValue class="form-check-input pointer @CssClass" disabled=@IsDisabled />
            }
            else
            {
                <!-- Different values - Allow for Yes/No, True/False-->

                <input type="checkbox" disabled id=@($"cbx-{_id}") data-test-id=@($"cbx-{_id}") @bind-value=@CurrentValue @bind-value:event="oninput" checked=@CurrentValue class="form-check-input pointer @CssClass" />
            }

            <label class="form-check-label pointer" for=@($"cbx-{_id}")>
                @((MarkupString)DisplayLabel())
            </label>
        </div>

        <FieldValidationDisplay FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
    </div>
}
