@using Microsoft.AspNetCore.Components.Forms
@inherits InputSelect<TValue>
@typeparam TValue

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label Description=@Description/>

        @if (ShowEditor)
        {
            <InputSelect
                @bind-Value=@CurrentValue
                class=@($"edit-select-select {CssClass}")
                disabled=@IsDisabled
                id=@_id
                data-test-id=@_id
                aria-required=@_isRequired
                aria-describedby=@($"desc-{_id}")
                aria-errormessage=@($"error-msg-{_id}")>

                @ChildContent
            </InputSelect>
        }
        else
        {
            <ReadOnlyValue Id=@_id IsRequired=_isRequired CssClass=@CssClass Text=@CurrentValueAsString />
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes />
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>    
}
