@inherits InputDate<T>
@using Microsoft.AspNetCore.Components.Forms
@typeparam T

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label/>

         
        @if (ShowEditor)
        {
            <InputDate @bind-Value="CurrentValue"
                       Type=Type
                       class=@($"edit-date-input {CssClass}")
                       id=@_id 
                       data-test-id=@_id
                       disabled=@IsDisabled
                       aria-required=@_isRequired
                       aria-describedby=@($"desc-{_id}")
                       aria-errormessage=@($"error-msg-{_id}") />
        }
        else
        {
            <ReadOnlyValue Id=_id IsRequired=_isRequired CssClass=@CssClass Text=@GetDisplayValue() />
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes />
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}
