@using Microsoft.AspNetCore.Components.Forms
@typeparam TEnum
@inherits InputBase<TEnum>

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label IsRequired=@IsRequired Description=@Description Tooltip=@Tooltip IsLabelHidden=@ShouldHideLabel />

        @if (ShowEditor)
        {
            <InputSelect @bind-Value=@CurrentValue
                         disabled=@IsDisabled
                         class=@($"edit-select-select {CssClass}")
                         id=@_id
                         data-test-id=@_id
                         aria-required=@_isRequired
                         aria-invalid=@(CssClass.Contains("invalid") ? "true" : null)
                         aria-errormessage=@($"error-msg-{_id}")
                         aria-describedby=@($"error-msg-{_id} desc-{_id} tooltip-{_id}")>

                @foreach (var o in GetOptions())
                {
                    <option title=@_attributes.Tooltip()
                            class=@($"edit-select-option {CssClass}")
                            value=@o
                            id=@($"{_id}-option-{o.ToId()}")
                            data-test-id=@($"{_id}-option-{o.ToId()}")>

                        @o?.GetName()
                    </option>
                }
            </InputSelect>
        }
        else
        {
            <ReadOnlyValue Id=@_id IsRequired=@_isRequired CssClass=@CssClass Text=@Value?.GetName() />
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}
