@inherits InputDate<T>
@using Controls.Helpers
@using Microsoft.AspNetCore.Components.Forms
@typeparam T

@if (ShouldShowComponent)
{
    <div class="form-group">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label/>

        @if (ShowEditor)
        {
            <InputDate @bind-Value="CurrentValue" id=@_id data-test-id=@_id Type=Type class=@CssClass disabled=@IsDisabled/>
        }
        else
        {
            <div class="form-text @CssClass">
                @DateTime.Parse(CurrentValueAsString).ToString(DateFormat)
            </div>
        }

        <FieldValidationDisplay FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
    </div>
}

@code {

    // Get validation messages for FieldName
}