@using Controls.Helpers
@using Microsoft.AspNetCore.Components.Forms
@typeparam TEnum

@inherits InputBase<TEnum>

@if (ShouldShowComponent)
{
    <div class="form-group">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label/>

        @if (ShowEditor)
        {
            <select @bind:get=Value @bind:set=SetAsync @bind:event="onchange" class=@CssClass id=@_id data-test-id=@_id>
                @foreach (var x in GetOptions())
                {
                    <option title=@_attributes.ToolTip() data-test-id=@($"{_id}-option-{x}") id=@($"{_id}-option-{x}") value=@x>@x?.GetName()</option>
                }
            </select>
        }
        else
        {
            <div class="form-text">@Value?.GetName()</div>
        }

        <FieldValidationDisplay FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
    </div>
}