@inherits EditControlBase<string?>

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label IsRequired=@IsRequired Description=@Description Tooltip=@Tooltip IsLabelHidden=@ShouldHideLabel />

        @if (ShowEditor)
        {
            <div class="edit-input-with-icon">
                <textarea @bind-value=@CurrentValue
                          @bind-value:event="oninput"
                          style="padding-right: 2rem"
                          disabled=@IsDisabled
                          id=@_id
                          data-test-id=@_id
                          class=@($"edit-input edit-textarea-input {CssClass}")
                          rows=@Rows
                          placeholder=@Placeholder
                          aria-required=@_isRequired
                          aria-invalid=@(IsInvalid ? "true" : null)
                          aria-describedby=@_describedBy
                          aria-errormessage=@(IsInvalid ? _errorMsgId : null)></textarea>
                <InvalidIcon CssClass=@CssClass />
            </div>
        }
        else
        {
            <ReadOnlyValue Id=@_id CssClass=@CssClass Text=@Value />
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes Label=@Label />
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}