@inherits EditControlBase<string?>

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">

        <fieldset class="edit-radio-fieldset"
                  id=@(ShowEditor ? _id : null)
                  data-test-id=@(ShowEditor ? _id : null)
                  role=@(ShowEditor ? "radiogroup" : null)
                  aria-labelledby=@(ShowEditor && !ShouldHideLabel ? $"lbl-{_id}" : null)
                  aria-required=@(ShowEditor ? _isRequired : null)
                  aria-invalid=@(ShowEditor && IsInvalid ? "true" : null)
                  aria-describedby=@(ShowEditor ? _describedBy : null)
                  aria-errormessage=@(ShowEditor && IsInvalid ? _errorMsgId : null)>
            <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label IsRequired=@IsRequired Description=@Description Tooltip=@Tooltip IsLegend=true IsLabelHidden=@ShouldHideLabel />

            @if (ShowEditor)
            {
                <InputRadioGroup @bind-Value=@SelectedOption disabled=@IsDisabled>

                    <div class=@(IsHorizontal
                                   ? "edit-radio-buttons-container-horizontal"
                                   : "edit-radio-buttons-container-vertical")>

                        @foreach (var option in Options)
                        {
                            <label class=@($"{LabelClass} edit-radio-label")>
                                <InputRadio Value=@option
                                            disabled=@IsDisabled
                                            id=@($"rb-{_id}-{option.ToId()}")
                                            data-test-id=@($"rb-{_id}-{option.ToId()}")
                                            class=@($"edit-radio-input {CssClass}") />

                                @option
                            </label>
                        }

                        <!-- Other -->
                        @if (HasOther)
                        {
                            <div class="edit-radio-other-option-container">

                                    <label class=@($"edit-radio-label {LabelClass}")>
                                        <InputRadio Value=@OtherName
                                                    id=@($"rb-{_id}-other")
                                                    disabled=@IsDisabled
                                                    data-test-id=@($"rb-{_id}-other")/>
                                        Other
                                    </label>
                                <input disabled="@(_selectedOption != "Other")"
                                       type="text"
                                       id=@($"txt-{_id}-custom-value")
                                       aria-label="Custom text value input"
                                       class="edit-input edit-string-input"
                                       @bind:get=@_otherText    
                                       @bind:set=SetOtherText
                                       @bind:event="oninput"/>
                            </div>
                        }
                    </div>

                </InputRadioGroup>
            }
            else
            {
                <ReadOnlyValue Id=@_id IsLabelHidden=@ShouldHideLabel CssClass=@CssClass Text=@Value />
            }

            <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes Label=@Label />
            @if (FormOptions != null && FormOptions.ShowBoundValues)
            {
                <div class="bound-value">@CurrentValueAsString</div>
            }
        </fieldset>
    </div>   
}
