@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms
@inherits InputTextArea

<div class="form-group">
    <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label /> 

    @if(IsEditMode)
    {
        <textarea @bind=@CurrentValue disabled=@IsDisabled id=@_id data-test-id=@_id class=@CssClass rows=@Rows></textarea>
    }
    else
    {
        <div class="form-text @CssClass">@Value</div>
    }
    
    <FieldValidationDisplay FieldIdentifier=_fieldIdentifier Attributes=_attributes />
</div>

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter] public bool IsEditMode { get; set; } = true;
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public required Expression<Func<string>> Field { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public int Rows { get; set; } = 2;

    string _id = string.Empty;
    List<Attribute>? _attributes;
    FieldIdentifier _fieldIdentifier;

    // Get validation messages for FieldName
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _fieldIdentifier = FieldIdentifier.Create(Field);
        _attributes = AttributesHelper.GetExpressionCustomAttributes(Field);
        _id = AttributesHelper.GetId(Id, _fieldIdentifier);
    }
}