@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms
@inherits InputSelect<TValue>
@typeparam TValue

@if (ShouldShowComponent)
{
    <div class="form-group">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label/>

        @if (ShowEditor)
        {
            <InputSelect @bind-Value=@CurrentValue class=@CssClass id=@_id data-test-id=@_id>
                @foreach (var o in Options)
                {
                    <option checked=@(() => CurrentValueAsString == o) value=@o data-test-id=@($"option-{_id}-{o}")>@o</option>
                }
            </InputSelect>
        }
        else
        {
            <div class="form-text @CssClass">@CurrentValueAsString</div>
        }


        <FieldValidationDisplay FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
    </div>
}