@using Microsoft.AspNetCore.Components.Forms
@inherits InputSelect<TValue>
@typeparam TValue

@if (ShouldShowComponent)
{
    <div class="form-group @OuterClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label/>

        @if (ShowEditor)
        {
            <InputSelect @bind-Value=@CurrentValue class=@CssClass id=@_id data-test-id=@_id>
                @ChildContent
            </InputSelect>
        }
        else
        {
            <div class="form-text @CssClass">@CurrentValueAsString</div>
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
    </div>
}
