@using Microsoft.AspNetCore.Components.Forms
@inherits InputCheckbox

@if (ShouldShowComponent)
{
    <div class="form-group @OuterClass">

        <div class="form-check">

            <input type="checkbox" 
                   id=@_id
                   data-test-id=@_id
                   @bind-value=@CurrentValue 
                   @bind-value:event="oninput" 
                   checked=@CurrentValue
                   class="form-check-input pointer @CssClass"
                   disabled=@IsDisabled
                   required=@_isRequired
                   aria-describedby=@($"desc-{_id}")
                   aria-errormessage=@($"error-msg-{_id}")/>

            <label class="form-check-label pointer" for=@_id>
                @((MarkupString)DisplayLabel())
            </label>
        </div>

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}
