@using Microsoft.AspNetCore.Components.Forms
@inherits InputSelect<TValue>
@typeparam TValue

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label IsRequired=@IsRequired Description=@Description />

        @if (ShowEditor)
        {
            <InputSelect @bind-Value=@CurrentValue
                         id=@_id
                         data-test-id=@_id
                         disabled=@IsDisabled
                         class=@($"edit-select-select {CssClass}")
                         aria-required=@_isRequired
                         aria-errormessage=@($"error-msg-{_id}")
                         aria-describedby=@($"desc-{_id}")>

                @foreach (var o in Options)
                {
                    <option value=@o
                            checked=@(() => CurrentValueAsString == o)
                            id=@($"{_id}-option-{o.ToId()}")
                            data-test-id=@($"{_id}-option-{o.ToId()}")
                            class=@($"edit-select-option {CssClass}")>
                        @o
                    </option>
                }
            </InputSelect>
        }
        else
        {
            <ReadOnlyValue Id=@_id IsRequired=@_isRequired CssClass=@CssClass Text=@CurrentValueAsString />
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes />
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}
