@typeparam T
@inherits EditControlBase<T>

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label IsRequired=@IsRequired Description=@Description Tooltip=@Tooltip IsLabelHidden=@ShouldHideLabel />

        @if (ShowEditor)
        {
            <div class="edit-input-with-icon">
                <input type="number"
                       style="padding-right: 2rem"
                       disabled=@IsDisabled
                       id=@_id
                       data-test-id=@_id
                       step=@Step
                       @bind-value=@CurrentValueAsString
                       @bind-value:event="oninput"
                       class=@($"edit-input edit-number-input {CssClass}")
                       aria-required=@_isRequired
                       aria-invalid=@(IsInvalid ? "true" : null)
                       aria-describedby=@_describedBy
                       aria-errormessage=@(IsInvalid ? _errorMsgId : null) />
                <InvalidIcon CssClass=@CssClass />
            </div>
        }
        else
        {
            <ReadOnlyValue Id=@_id IsRequired=@_isRequired CssClass=@CssClass Text=@GetFormattedNumber() />
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label />
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}