@inherits InputNumber<T>
@using Microsoft.AspNetCore.Components.Forms
@typeparam T

@if (ShouldShowComponent)
{
    <div class="form-group @OuterClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label/>

        @if (ShowEditor)
        {
            <input type="number" disabled=@IsDisabled id=@_id data-test-id=@_id step=@Step @bind-value=@CurrentValueAsString @bind-value:event="oninput" class=@CssClass/>
        }
        else
        {
            <div class="form-text @CssClass">@Value</div>
        }

        <FieldValidationDisplay FieldIdentifier=@_fieldIdentifier Attributes=@_attributes/>
    </div>
}

@code {


    // Get validation messages for FieldName
}