@typeparam TEnum

@inherits InputBase<TEnum>

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label Description=@Description IsRequired=@IsRequired />

        @if (ShowEditor)
        {
            <select @bind:get=Value
                    @bind:set=SetAsync
                    @bind:event="onchange"
                    disabled=@IsDisabled
                    class=@($"edit-select-select {CssClass}")
                    id=@_id
                    data-test-id=@_id
                    aria-required=@_isRequired
                    aria-errormessage=@($"error-msg-{_id}")
                    aria-describedby=@($"desc-{_id}")>

                @foreach (var o in GetOptions())
                {
                    <option title=@_attributes.ToolTip()
                            class=@($"edit-select-option {CssClass}")
                            value=@o
                            id=@($"{_id}-option-{o}")
                            data-test-id=@($"{_id}-option-{o}")>
                        
                        @o?.GetName()
                    </option>
                }
            </select>
        }
        else
        {
            <ReadOnlyValue Id=@_id IsRequired=@_isRequired CssClass=@CssClass Text=@Value?.GetName() />
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}