@using Microsoft.AspNetCore.Components.Forms
@using Controls.Helpers
@using Microsoft.AspNetCore.Components.Forms
@inherits InputCheckbox

@if (ShouldShowComponent)
{
    <div class="form-group">

        <div class="form-check">

            @if (ShowEditor)
            {
                <input type="checkbox" id=@_id data-test-id=@_id @bind-value=@CurrentValue @bind-value:event="oninput" checked=@CurrentValue class="form-check-input pointer @CssClass" disabled=@IsDisabled/>
            }
            else
            {
                <input type="checkbox" disabled id=@_id data-test-id=@_id @bind-value=@CurrentValue @bind-value:event="oninput" checked=@CurrentValue class="form-check-input pointer @CssClass"/>
            }

            <label class="form-check-label pointer" for=@_id>
                @((MarkupString)DisplayLabel())
            </label>
        </div>

        <FieldValidationDisplay FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
    </div>
}

@code {


    // Get validation messages for FieldName
}