@using Microsoft.AspNetCore.Components.Forms
@inherits InputTextArea

@if (ShouldShowComponent)
{
    <div class="form-group @OuterClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label/>

        @if (ShowEditor)
        {
            <textarea @bind=@CurrentValue disabled=@IsDisabled id=@_id data-test-id=@_id class=@CssClass rows=@Rows></textarea>
        }
        else
        {
            <div class="form-text @CssClass">@((MarkupString)Value)</div>

        }

        <FieldValidationDisplay FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
    </div>
}

@code {

    // Get validation messages for FieldName
}