@using Microsoft.AspNetCore.Components.Forms
@inherits InputCheckbox

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">

        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label />
           
        <label class="edit-label edit-checkbox-label" for=@_id>
            <input type="checkbox"
                   @bind-value=@CurrentValue
                   @bind-value:event="oninput" 
                   class="@CssClass"
                   id=@_id
                   data-test-id=@_id
                   checked=@CurrentValue
                   disabled=@(!ShowEditor || IsDisabled)
                   aria-required=@_isRequired
                   aria-describedby=@($"desc-{_id}")
                   aria-errormessage=@($"error-msg-{_id}")/>

            @((MarkupString)DisplayLabel())
        </label>

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes/>
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}
