@inherits InputRadioGroup<TValue>
@typeparam TValue

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">
        <fieldset class="edit-radio-fieldset">
       <FormLabel Id=@_id
                  FieldIdentifier=@_fieldIdentifier 
                  Attributes=@_attributes 
                  Label=@Label 
                  IsRequired=@IsRequired 
                  Description=@Description
                  Tooltip=@Tooltip 
                  IsLegend=true
                  IsLabelHidden=@ShouldHideLabel />

            @if (ShowEditor)
            {
                <InputRadioGroup @bind-Value=@CurrentValue
                                 id=@_id
                                 data-test-id=@_id
                                 class=@CssClass
                                 disabled=@IsDisabled>
                    <div class=@(IsHorizontal
                                          ? "edit-radio-buttons-container-horizontal"
                                          : "edit-radio-buttons-container-vertical")
                         role="radiogroup"
                         aria-labelledby="lbl-@_id"
                         aria-required=@_isRequired
                         aria-invalid=@(IsInvalid ? "true" : null)
                         aria-describedby=@_describedBy
                         aria-errormessage=@(IsInvalid ? _errorMsgId : null)>
                        @ChildContent
                    </div>
                </InputRadioGroup>
                }
            else
            {
                <ReadOnlyValue Id=@_id IsRequired=_isRequired CssClass=@CssClass Text=@CurrentValueAsString />
            }

            <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes Label=@Label />
            @if (FormOptions != null && FormOptions.ShowBoundValues)
            {
                <div class="bound-value">@CurrentValueAsString</div>
            }
        </fieldset>
    </div>
}