@if (!IsHidden)
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@Id Label=@Label Description=@Description/>

        <div id=@Id
             data-test-id=@Id
             class="edit-readonly-value"
             role="textbox"
             aria-readonly="true"
             aria-labelledby=@($"lbl-{Id}")
             aria-describedby=@($"desc-{Id} error-msg-{Id}")
             tabindex="0">
            
            @Text
        </div>
        
  </div>
}