@inherits EditControlBase<string?>

@if (ShouldShowComponent())
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label IsRequired=@IsRequiredResolved Description=@Description Tooltip=@Tooltip IsLabelHidden=@ShouldHideLabel IsForLabelable=@ShowEditor />

        @if (ShowEditor)
        {
            <EditInputShell IsInvalid=@IsInvalid
                            AllowClear=@AllowClear
                            IsClearable=@IsClearable
                            OnClear=@Clear
                            CountText=@CountText
                            CountBelow="true">
                <textarea @bind-value=@CurrentValue
                          @bind-value:event="oninput"
                          @bind-value:after="OnValueChangedAsync"
                          @ref="_textAreaRef"
                          style=@(UseAffixLayout ? null : "padding-inline-end: 2rem")
                          disabled=@IsDisabled
                          id=@_id
                          data-test-id=@_id
                          class=@InputClass
                          rows=@EffectiveRows
                          maxlength=@MaxLength
                          placeholder=@Placeholder
                          aria-required=@_isRequired
                          aria-invalid=@(IsInvalid ? "true" : null)
                          aria-describedby=@_describedBy
                          aria-errormessage=@(IsInvalid ? _errorMsgId : null)></textarea>
            </EditInputShell>
        }
        else
        {
            <ReadOnlyValue Id=@_id IsLabelHidden=@ShouldHideLabel CssClass=@CssClass Text=@Value />
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes Label=@Label />
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}