@inherits InputNumber<T>  
@typeparam T  

@if (ShouldShowComponent())
{
    <div class="tooltip-container" data-title="This is a custom tooltip!">
        Hover over me
    </div>


    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label IsRequired=@IsRequired Description=@Description />

        @if (ShowEditor)
        {
            <input type="number" 
                   disabled=@IsDisabled 
                   id=@_id 
                   data-test-id=@_id 
                   step=@Step
                   data-title="This is a custom tooltip!"
                   @bind-value=@CurrentValueAsString
                   @bind-value:event="oninput"
                   class=@($"edit-number-input {CssClass} tooltip-container")
                   aria-required=@_isRequired
                   aria-describedby=@($"desc-{_id} error-msg-{_id}")
                   aria-errormessage=@($"error-msg-{_id}") />
        }
        else
        {
            <ReadOnlyValue Id=@_id IsRequired=@_isRequired CssClass=@CssClass Text=@GetFormattedNumber() />
        }

        <FieldValidationDisplay Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes/>
        @if (FormOptions != null && FormOptions.ShowBoundValues)
        {
            <div class="bound-value">@CurrentValueAsString</div>
        }
    </div>
}