@if (IsHidden)
{
    <div class="edit-control-wrapper @OuterClass">
        <FormLabel Id=@Id Label=@Label Description=@Description/>

        <div id=@Id
             data-test-id=@Id
             class="edit-control-readonly-text"
             role="textbox"
             aria-readonly="true"
             aria-labelledby=@($"lbl-{Id}")
             aria-describedby=@($"desc-{Id}")>
            @Text
        </div>
        
  </div>
}