@using Microsoft.AspNetCore.Components.Forms
@inherits InputText

@if (ShouldShowComponent)
{
    <div class="edit-control-wrapper @OuterClass">

        <fieldset class="edit-radio-fieldset">
            <FormLabel Id=@_id FieldIdentifier=@_fieldIdentifier Attributes=@_attributes Label=@Label IsLegend=true />

            @if (ShowEditor)
            {
                <InputRadioGroup @bind-Value=@SelectedOption
                                 id=@_id
                                 data-test-id=@_id
                                 disabled=@IsDisabled
                                 class=@CssClass
                                 required=@_isRequired
                                 aria-describedby=@($"desc-{_id}")
                                 aria-errormessage=@($"error-msg-{_id}")>

                    <div class=@(HasHorizontalRadioButtons
                                   ? "edit-radio-buttons-container-horizontal" 
                                   : "edit-radio-buttons-container-vertical")>

                        @foreach (var option in Options)
                        {
                            <label class=@($"{LabelClass} edit-label")>
                                <InputRadio Value=@option
                                            class=@($"{CssClass}")
                                            id=@($"rb_{_id}_{option}") 
                                            data-test-id=@($"rb_{_id}_{option}")/>

                                @((MarkupString)option)
                            </label>
                        }

                        <!-- Other -->
                        @if (HasOther)
                        {
                            <div class="edit-radio-other-option-container">
                                <label class=@($"edit-label {LabelClass}")>
                                    <InputRadio Value=@OtherName 
                                                id=@($"rb-{_id}-other")
                                                data-test-id=@($"rb-{_id}-other")/>
                                    Other
                                </label>
                                <input disabled="@(_selectedOption != "Other")"
                                       type="text"
                                       id=@($"txt-{_id}-custom-value")
                                       aria-label="Custom text value input"
                                       class="edit-string-input"
                                       @bind:get=@_otherText                                    
                                       @bind:set=SetOtherTextAsync
                                       @bind:event="oninput"/>
                            </div>
                        }
                    </div>

                </InputRadioGroup>
            }
            else
            {
                <ReadOnlyValue Id=@_id IsRequired=@_isRequired CssClass=@CssClass Text=@Value />
            }

            <FieldValidationDisplay Id=@_id FieldIdentifier=_fieldIdentifier Attributes=_attributes />
            @if (FormOptions != null && FormOptions.ShowBoundValues)
            {
                <div class="bound-value">@CurrentValueAsString</div>
            }
        </fieldset>
    </div>   
}
