@if (!IsHidden)
{
    <div class="edit-control-wrapper @ContainerClass">
        <FormLabel Id=@_id Label=@Label Description=@Description Tooltip=@Tooltip IsRequired=@IsRequired/>

        <div id=@_id
             data-test-id=@_id
             class="edit-readonly-value"
             aria-labelledby=@(string.IsNullOrEmpty(Label) ? null : $"lbl-{_id}")>

            @Text
        </div>
        
  </div>
}