@if (EditContext!.GetValidationMessages().Any())
{
    @foreach (var x in EditContext.GetValidationMessages(FieldIdentifier))
    {
        <div class="validation-message" id="error-msg-@Id">
            @((MarkupString)GetValidationMessage(x))
        </div>
    }
}
