@if (EditContext!.GetValidationMessages().Any())
{
    @foreach (var x in EditContext.GetValidationMessages(FieldIdentifier))
    {
        <div class="validation-message">@GetValidationMessage(x, _fieldName)</div>
    }
}