@using Controls.Helpers
<div>
    <label class="form-label" title=@Attributes.ToolTip() for=@Id id="lbl-@Id">
        @((MarkupString)DisplayLabel())
    </label>
</div>
@if (Attributes.Description() != null)
{
    @if(DisplayDescription() != null)
    {
        <p class="form-description">
            @((MarkupString)DisplayDescription())
        </p>
    }
}