@using Microsoft.AspNetCore.Components.Forms
<div class="flex-row">
    <label title=@Attributes.ToolTip() for=@Id>
        @Attributes.GetLabelText(FieldIdentifier)
        @if (Attributes.IsRequired())
        {
            <i>*</i>
        }
    </label>
</div>
@if (Attributes.Description() != null)
{
    <div class="description">
        @((MarkupString)Attributes!.Description()!)
    </div>
}

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter] public List<Attribute>? Attributes { get; set; }
    [Parameter] public required FieldIdentifier FieldIdentifier { get; set; }
}