@using Microsoft.AspNetCore.Components.Forms
<div >
    <label title=@Attributes.ToolTip() for=@Id>
        @((MarkupString)DisplayLabel())
    </label>
</div>
@if (Attributes.Description() != null)
{
    @if(DisplayDescription() != null)
    {
        <p class="description">
            @((MarkupString)DisplayDescription())
        </p>
    }
}

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter] public List<Attribute>? Attributes { get; set; }
    [Parameter] public required FieldIdentifier FieldIdentifier { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Description { get; set; }
    string DisplayLabel() => Label ?? Attributes.GetLabelText(FieldIdentifier);
    string? DisplayDescription() => Description ?? Attributes.Description();
}