<div class="edit-readonly-value @CssClass"
     role="textbox"
     id=@Id
     data-test-id=@Id
     aria-readonly="true"
     aria-required=@IsRequired
     aria-labelledby=@($"lbl-{Id}")
     aria-describedby=@($"desc-{Id}")
     aria-errormessage=@($"error-msg-{Id}")
     tabindex="0">

    @((MarkupString)Text)
</div>