
<div class="edit-readonly-value @CssClass"
     role="textbox"
     id=@Id
     data-test-id=@Id
     aria-readonly="true"
     aria-required=@IsRequired
     aria-labelledby=@($"lbl-{Id}")
     aria-describedby=@($"error-msg-{Id} desc-{Id} tooltip-{Id}")
     aria-errormessage=@($"error-msg-{Id}")
     tabindex="0">
    
    @if (!string.IsNullOrEmpty(Text))
    {
        @((MarkupString)Text)
    }
    else
    {
        <span aria-hidden="false" style="visibility: hidden">No Value</span>
    }

</div>