@using Microsoft.AspNetCore.Components.Forms


<section class="validation-summary">
    @foreach (var v in FormOptions.FieldIdentifiers)
    {
        @foreach (var z in CurrentEditContext.GetValidationMessages(v).ToList())
        {
            <a class="validation-summary-message" href="#lbl-@v.FieldName">@z</a>
        }
    }
</section>
        

@code
{
    [CascadingParameter] public FormOptions? FormOptions { get; set; } [CascadingParameter] public FormGroupOptions? FormGroupOptions { get; set; }
    private EditContext? _previousEditContext;
    private EventHandler<ValidationStateChangedEventArgs> _validationStateChangedHandler;

    /// <summary>
    /// Gets or sets the model to produce the list of validation messages for.
    /// When specified, this lists all errors that are associated with the model instance.
    /// </summary>
    [Parameter]
    public object? Model { get; set; }

    /// <summary>
    /// Gets or sets a collection of additional attributes that will be applied to the created <c>ul</c> element.
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [CascadingParameter] EditContext CurrentEditContext { get; set; } = default!;

    IEnumerable<string> ValidationMessages => Model is null ? CurrentEditContext.GetValidationMessages() : CurrentEditContext.GetValidationMessages(new FieldIdentifier(Model, string.Empty));
    
    protected override Task OnInitializedAsync()
    {
        _validationStateChangedHandler = (sender, eventArgs) => StateHasChanged();
        return base.OnInitializedAsync();
    }

    protected override void OnParametersSet()
    {
        if (CurrentEditContext == null)
        {
            throw new InvalidOperationException($"{nameof(ValidationSummary)} requires a cascading parameter " +
                                                $"of type {nameof(EditContext)}. For example, you can use {nameof(ValidationSummary)} inside " +
                                                $"an {nameof(EditForm)}.");
        }

        if (CurrentEditContext != _previousEditContext)
        {
            DetachValidationStateChangedListener();
            CurrentEditContext.OnValidationStateChanged += _validationStateChangedHandler;
            _previousEditContext = CurrentEditContext;
        }
    }

    private void DetachValidationStateChangedListener()
    {
        if (_previousEditContext != null)
        {
            _previousEditContext.OnValidationStateChanged -= _validationStateChangedHandler;
        }
    }
}
