<!-- Editor for Restaurant Config -->
@if (IsEditMode || Value != null)
{
    <div class="form-group">

		<div class="form-label flex-row">
			@Name
            <div class="flex-fill"></div>
			@if (!string.IsNullOrWhiteSpace(ToolTip))
			{
				<i class="far fa-info-circle form-info-button" title=@ToolTip></i>
			}
			@if (ShowDeleteButton)
			{
			    <i class="far fa-times"  title=@ToolTip></i>
			}

        </div>
		@if (IsEditMode)
		{
            <input class="form-control form-info-button" type="number" min=@Min max=@Max @bind=@Value @bind:event="oninput" />
        }
		else
		{
			<div class="form-text">@Value</div>
		}

	</div>
}
@code {

    [Parameter] public int? Value { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public string ToolTip { get; set; }
    [Parameter] public float Min { get; set; } = 0;
    [Parameter] public float Max { get; set; } = 100000;
    [Parameter] public bool IsEditMode { get; set; } = true;
    [Parameter] public bool ShowDeleteButton { get; set; }

    [Parameter] public EventCallback<int?> ValueChanged { get; set; }

    async Task Update()
    {
        await ValueChanged.InvokeAsync(Value);
    }
    async Task Delete()
    {
        Value = null;
        await ValueChanged.InvokeAsync(Value);
    }
}